body{
  background-image: url("1.1.jpg");
  margin: auto;
}

.box1, .box2, .box3, .box4 {
  display: inline-block;
  width: 293px;
  height: 513px;
  background-color: #DBC500;
}
.box1{
  margin-left: 15px;
  opacity: 0.8;
}
.box2{
  opacity: 0.4;
}
.box3{ 
  opacity: 0.7;
}
.box4{ 
  opacity: 0.35;
}